* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    display: grid;
    grid-template-columns: 30px 50px 100px 3fr 25px 25px 25px 25px;
    grid-template-rows: 50px;
    list-style: none;
    align-items: center;
    margin: 0 5px 0 5px;
 }
.navbar div:nth-child(1) i{
    color: red;  
    margin-left: 10px;
}

.navbar div:nth-child(2) a{
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: small;
    background-color:black;
    padding: 5px;
    margin-left: 10px;
 }

.navbar div:nth-child(3) a{
    color: #767676;
    font-size: small;
    font-weight: bold;
    margin-left: 20px;
}

.search2{
    position: relative;
    min-width: 700px;
    height: 30px;
    padding-left: 30px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 15px;
    outline: none;
 }
 

.search1{
    z-index: 1;
    position: absolute;
    padding-left: 10px;
    margin-top: 8px;
    font-size: small;
}

.navbar div:nth-child(4){
    color: #767676;
}

.navbar div:nth-child(5) i{
    color: #767676;
}

.navbar div:nth-child(6) i{
    color: #767676;
}

.navbar div:nth-child(7) a{
    color: #767676;
    font-size: small;
}

.navbar div:nth-child(8) i{
    color: #767676;
}

.container{
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: "a b c d e f g h";
    grid-auto-rows: 75px;
}
